body{
    background-color:black;
}
.profile_image{
    width: 30%;
    border-radius: 20px;
    border-color:grey;
    border-style: hidden;
}
.profiletext{
    color: white;
    text-align: center;
    font-family: arial;
}
.geralbox{
    text-align:center;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    width: 60%;
    margin: auto;
    padding: 5%;
}
.links{
    color: white;
    font-family: Arial;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.link:hover{
    transition: 0.5s;
    transform: scale(1.5);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
}
a{
    text-decoration: none;
    align-items: center;
    color: blue
}
a:visited{
    text-decoration: none;
}