
.profile_image{
    width: 15%;
    border-radius: 20px;
    border-color:grey;
    border-style: hidden;
    padding-top: 10px;
}
.profiletext{
    color: white;
    text-align: center;
    justify-content: center;
    font-family: arial;
}
.wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    height:90%;
    column-gap: 10px;
    padding: 5px;
    left: 50%;
}
.geralbox{
    text-align:center;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    width: 80%;
    height: 100%;
    margin: 5px;
    left: 50%;
}
ul{
    color: white;
    font-family: Arial;
    font-size: 30px;
    list-style-type: none;
    left: 50%;
    text-decoration: none;
}
a{
    text-decoration: none;
    align-items: center;
}
a:visited{
    text-decoration: none;
}
li:hover{
    transition: 0.5s;
    transform: scale(1.5);
    
}